.btn-custom {
    color: var(--vscode-activityBar-inactiveForeground);
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-editor-font-family);
}
.btn.btn-custom:hover {
    color: var(--vscode-activityBar-foreground);
    
}

.changeThemeBtn{
    color: rgb(53, 114, 227);
    font-size: var(--vscode-editor-font-size);
    font-family: var(--vscode-editor-font-family);
}
.btn.changeThemeBtn:hover {
    color: rgb(1, 76, 215);
    
}
.icons{
    color: var(--vscode-activityBar-foreground);
}
.themeIcon{
    color: rgb(53, 114, 227);
}
.toolBarBg{
    
    background-color: var(--vscode-activityBar-background);
}
.toolBarDropdownBg{
    background: rgb(39, 38, 38)
}

.dropdown-menu[data-bs-popper] {
    margin-top: 0rem;
}
.dropdown-item:hover {
    background-image: none;
    background-color: var(--vscode-button-secondaryHoverBackground);
    color: var(--vscode-activityBar-foreground);
}
.dropdown-toggle[aria-expanded="true"]:after {
    transform: rotate(180deg);
  }
  
  .dropdown-toggle:after {
    transition: 0.5s;
  }
  .dropdown-divider{
    margin: 0.5rem 0;
  }
.dividerColor{
    border-block-width: 1.5px;
    background-color: var(--vscode-activityBar-inactiveForeground);
}
.loaderColor{
    color: var(--vscode-activityBar-inactiveForeground);
}

.iconsAndTextAlign{
    display: flex;
    align-items: center;
}
